.detail_view {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
     0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 400px;
    font-weight: 300;
  }
  
 
  
  .detail_img {
    position: relative;
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  
  .detail__titile,
  .detail__year {
    margin: 0;
    font-weight: 300;
  }
  
  .detail__title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
  }
  
  .detail__genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
  }
  
  .detail__genres li,
  .detail__year {
    margin-right: 10px;
    font-size: 14px;
  }
  .detail_language{

  }
  .detail__rating{

  }
  .detail__runtime{
      
  }
  .star{
      width:20px;
      height:20px;
  }
  .detail__back{
    text-decoration: none;
    color: #0008fc;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }